/* Navbar.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.763);
    transition: background-color 0.3s, color 0.3s;
}

.navbar.dark {
    background-color: #333333;
    color: #ffffff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li {
    font-size: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ff6347;
    font-size: 1.3rem;
    transition: 0.5s ease-in-out; /* Tomato color on hover */
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
    
}

.theme-toggle:hover {
    color: #ff6347; /* Tomato color on hover */
    font-size: 1.2rem;
    transition: 0.5 ease-in-out;

}
